.menu{
    padding-left: 0;
    background-color: #292525;
    box-shadow: 0px 4px 3px 1px #F2FF43;
    outline-style: solid;
    outline-color: #F2FF43;
    justify-content: left;
    display: flex;    
}

.menu-text{
    color: #FFE365;
    font-family: 'Raleway', 'Arial', 'sans-serif';
    vertical-align: middle;
    text-align: left;
    padding-top: 6%;
}

.menu-button-big{
    width: 541px;
    height: 121px;   
}


.menu-text-big{
    font-size: 48px;
}


.menu-button-small{
    width: 242px;
    height: 67px;
    padding-left: 0;   
}

.menu-text-small{
    font-size: 24px;
    
}